
.iye-menu-1{
  background-color: #ccc;
  padding:25px;
  color:#f7f7f7;
  width:1199px;
  border:none;
  margin:auto;
  font-family: 'Open Sans', sans-serif;
  top:0px;
  left:0px;
  margin-left: 0px;
  margin-top: 0px;
}
.iye-menu-1 img{
  height: 60px;
  width: 60px;
  margin: 0px;
}
